<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2><%= trainerName %>'s Pokemon</h2>
    <ul>
        <% pokemonList.forEach(pokemon => { %>
            <li>
                <%= pokemon.name %> - <%= pokemon.type %>
            </li>
        <% }); %>
    </ul>

    <button><a href="/">Back to All Trainers</a></button>
    <button><a href="/trainer/<%= trainerID %>/newpokemon">Add a Pokemon</a></button>
    <form action="/trainer/<%= trainerID %>/delete" method="POST" onsubmit="return confirm('Are you sure? This will delete all their Pokemon too!')">
    <button type="submit" style="color: red;">Delete Trainer</button>
    </form>
</body>
</html>